body{
        background : #FFB6C1;
        }
.logo{
        font-family : Snell Roundhand, cursive;
        font-size : 200px;
        font-style : initial;
        text-align : center;
        color : #9400D3;
        }
main{
        margin : 10px 300px 10px 300px;
        
        }
footer{
        text-align : center;
        }
.main{
        padding : 30px;
        }
nav{
        float : right;
        padding : 15px;
        margin-left : 50px;
        }
main img {
                width : 500px;
                float : left;
                }
